html {
    background-image: url(assets/Titanic_sinking.jpg);
    background-color: white;
  }
 
.titanic-dataset { 
    position: absolute;
    display: grid; 
    gap:1px; 
    justify-content: column; 
    flex-direction: center; 
    padding-left: 8rem;
    align-items: center;
  }  
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  } 
   
  .the-data {
    display: flex;
    flex-direction: row;
    margin-top:40rem;
    margin-left: 6rem;
  }
  
  h1 {
    color: #2b2b2b;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
  }
  
  h3 {
    text-transform: uppercase;
  } 
  
  p.text {
    margin-bottom: 5px;
  } 
  
  h1 .titanic {
    color: #0e0201;
    font-size: 1.5em;
    font-weight: 800;
  }
   
  .heading {
    color: #ab3e32;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
   
  p.toggle-label {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 5px;
  } 
 
  .toggle-div {
    position:inherit;
    flex-direction: column;
    margin-left: 3rem;;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
   
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666562;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3ed46b9f;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #deb443;
    color: purple;
  }
  
  input:focus + .slider {
      box-shadow: 0 0 1px #deb443;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: purple;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
   /* button {
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  } */
  
  /* button:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  } */
   
  /* .titanic-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  

/*   
 .titanic-image {
    width: 35vw;
    margin-top: 15px;
  } */
  
  .summary {
    font-family: "Montserrat", sans-serif;
  }
   
  h3 {
    color: #e673ca;
  }
  

  
 
  
  # sourceMappingURL=styles.css.map */
